.background-main {
    // background-image: linear-gradient(360deg, #fff 1%, rgba(0,0,0,0)), url(../assets/newlyleds-exchanging-ring.png);
    background-image: linear-gradient(0deg, rgba(255,255,255, 0.7) 1%, rgba(0,0,0,0)), url(../assets/newlyleds-exchanging-ring.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-gradient-white{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 35%;
    background: linear-gradient(360deg, white 30%, transparent);;
}

.background-time__container {
    position: relative;
    .background-time {
        padding: 20px;
        background: #fff;
    }
}

.person__container{
    background: #fff;
    padding-bottom: 50px;
}

.gallery__container{
    position: relative;
    background: #2c0500;
    height: 400px;
    box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.3);
    z-index: 1;
}

.bank__container{
    background: #fff;
    padding: 40px
}

.guest-book__container {
    background: #fff;
    padding: 30px 0 50px 0;
    text-align: left;
}

.btn-play{
    position: fixed;
    z-index: 1000;
    padding: 6px;
    width: 40px;
    height: 40px;
    background: #2c0500;
    color: #fff;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 2px solid #fff;
    @media (max-width: 688px) {
        top: 30px;
        bottom: none;
    }
}
