// Navbar
.wedding--brand {
  font-family: 'Allura', cursive;
  font-weight: 800;
  font-size: 30px !important;
}

.navbar--links {
  color: #2c0500;
  font-weight: 500;
}

// Date
.date-text {
  font-family: 'Allura', cursive;
  font-size: 25px;
  font-weight: 600;
  color: #2c0500;
  opacity: 0.7;
}

.date {
  font-family: 'Allura', cursive;
  font-size: 30px;
  font-weight: 600;
  color: #2c0500;
  opacity: 0.7;
}

.wedding--name-box {
  backface-visibility: hidden;
  .wedding--name {
    animation: weddingName 2s ease-out;
  }
}

.wedding--invite {
  animation: invite 1s ease-out .75s;
  opacity: 0.8;
  animation-fill-mode: backwards;
  width: 200px;
  margin: auto;
}

@keyframes weddingName {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.8;
  }
}

@keyframes invite {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.8;
  }
}
